.cart {
  background: white;
  padding: 24px;
  border-radius: 16px;
  min-height: 300px;
}

.cartImage {
  width: 50%;
  height: auto;
  display: block;
  padding: 35px;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
