.cartProduct {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(14, 25%, 72%);
}

.dessertTitle {
  color: hsl(14, 65%, 9%);
  font-size: 14px;
}

.dessertQuantity {
  color: #c83b0e;
}
.cartInfo {
  padding-top: 1rem;
}
.removeButton {
  background: none;
  border-radius: 90%;
  border: 1px solid hsl(14, 25%, 72%);
  align-self: center;
  padding: 0px 2px;
  cursor: pointer;
}

.finalInfo {
  display: flex;
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dessertPrice {
  color: hsl(14, 25%, 72%);
}

.dessertTotalPrice {
  color: hsl(7, 20%, 60%);
}
